.page-newsfeed-06{
	font-weight: bold;
	color: #1866b1;
}
.font-custom-01{
	color: #90949c;
}
html,body{
    height: 100%;
}
nav {
	background-color: #c7d2c7;
}
.navbar-inverse{
	background-color: #c7d2c7 !important;
	border-color: #c7d2c7 !important;
}
.navbar-form, .navbar-collapse{
	border-color: white !important;
}
.navbar-toggle{
	border-color: #3cb481 !important;	
}
.navbar-header>button{
	background-color: #c7d2c7;
}
.navbar-toggle:hover{
	background-color: #4bb9c2 !important;	
}
.navbar-toggle:focus{
	background-color: #4bb9c2 !important;	
}
.navbar-nav>li>a{
	color: rgb(16, 165, 128) !important;
}
.navbar-component{
	color: rgb(16, 165, 128) !important;
	padding: 15px;
}
.dropdown-menu>li>a{
	color: #262626 !important;
	padding: 9px 10px 10px !important;
}
.dropdown-menu>li>a>span{
	margin-right: 10px;
}

/* request&noti */
.friend-request{
	color: #262626;
	padding: 3px 10px;
}
.flexible-show{
	display: initial;
	margin-left: 5px;
}
.friend-request>a{
	margin-right: 10px;
}
.dropdown-menu>.view-more>a{
	color: #23527c !important;
	font-weight: bold !important;
	padding: 3px 20px !important;
}
.noti-table{
	width: 300px;
}
.noti-comp>a{
	height: 80px;
}
.dropdown-menu>.noti-comp>a>span{    
	display: inline-block !important;
    white-space: normal !important;
    padding: 2px 0px 10px !important;
    width: 75%;
}
.noti-pic{
	height: 55px !important;
	width: 55px !important;
	float: left;
	margin: 5px;
}
.add-friend-pic{
	display: inline-block;
	height: 55px !important;
	width: 55px !important;
	margin: 5px;
	margin-right: 10px; 
}
.friend-request-profile{
	display: inline-block;
	white-space: nowrap;
	width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}
.friend-request-buttons{
	display: block;
}
/* request&noti end */

/*begin login page*/
.page-login-01{
	min-height: 100%;
}
.page-login-01-b{
	padding: 20px;
  	padding-bottom: 50px;
}
.page-login-02{
	text-align: center;
	font-family: Lobster;
	margin-bottom: 15px;
	color: #3cb481;
}
.page-login-03{
	color: red;
	margin: -10px 0px 2px 0px;
	text-align: center;
}
.page-login-04{
	text-align: center;
}
.page-login-05{
	width: 100%;
	margin-bottom: 5px;
}
.page-login-06{
	text-align: center;
}
.page-login-07{ 
	width: 100%;
	color: white;
	border: none;
}
.page-login-07:hover{
	color: white;
}
.page-login-fb{
	background-color: #3c5a99;
}
.page-login-fb:hover{
	background-color: #304d86;
}
.page-login-gg{
	background-color: #d14836;
}
.page-login-gg:hover{
	background-color: #b63d2f;
}
/*end login page*/

/* begin register page */
.page-register-01{
	min-height: 100%;
}
.page-register-01-b{
	padding: 20px;
  	padding-bottom: 50px;
}
.page-register-02{
	text-align: center;
	font-family: Lobster;
	margin-bottom: 15px;
	color: #3cb481;
}
.page-register-03{
	color: red;
	margin: -10px 0px 2px 0px;
	text-align: center;
}
.page-register-04{
	text-align: center;
}
.page-register-05{
	width: 100%;
	margin-bottom: 5px;
}
.page-register-06{
	text-align: center;
}
/* end register page */

/* begin newsfeed page */
.page-newsfeed-01{
	min-height: 100%;
}
.page-newsfeed-01-b{
	padding: 20px;
	padding-bottom: 50px;
}
.page-newsfeed-02{
	background-color: white;
}
.page-newsfeed-03>ul{
	text-align: left
}
.page-newsfeed-04{
	display: inherit;
	margin-top: 5px;
}
.page-newsfeed-05{
	text-align: left;
	display: inherit;
	padding: 3px;
	font-weight: bold;
	color: #1866b1;
	font-size: 15px;
}
.page-newsfeed-05>span{
	margin-right: 12px;
}
.page-newsfeed-05:hover{
	color: #415fb1;
    text-decoration: none;
}
.recent-friend{
	display: inline-block;
	height: 30px !important;
	width: 30px !important;
	margin: 5px;
}
/* end newsfeed page */

/* begin page noti  */
.page-noti-01{
	min-height: 100%;
}
.page-noti-01-b{
	padding: 20px;
  	padding-bottom: 50px;
}
.page-noti-01-b>ul{
	padding-left: 0px;
}
.page-noti-02{
	display: block;
	margin-bottom: 1px;
}
.page-noti-02>a{
	display: block;
	white-space: normal;
	color: rgb(70, 65, 65);
}
.page-noti-02>a:hover{
	display: block;
	color: rgb(51, 47, 47);
	background-color: #a5a4a433;
}
.page-noti-02>a>span{
	display: inline-block;
    white-space: normal;
	width: 75%;
	padding-top: 7px;
}
.page-noti-03{
	display: inline-block;
	padding-top: -5px;
	height: 55px;margin-right: 5px;
	margin-left: 6px;
	margin-bottom: 7px;
}
.page-noti-read{
	background-color: #7777771a;
}
/* end page noti */

/* begin page friend request */
.page-friend-request-01{
	display: block;
}
.page-friend-request-accepted{
	background-color: rgb(252, 252, 206);
}
.page-friend-request-02{
	display: inline-block;
	white-space: nowrap;
	width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}
.page-friend-request-03{
	color: rgb(126, 122, 122);
}
/* end page friend request */

/* begin page schedule */
.page-schedule-title{
	margin-bottom: 15px;
}
.table-responsive{
	border-radius: 3px;
}
.page-schedule-01{
	background-color: rgb(135, 216, 135);
	border: solid 1px #ddd;
}
.page-schedule-01>tr>th{
	border-right: solid 1px #ddd;
	text-align: center;
}
.page-schedule-02>tr>td{
	border: solid 1px #ddd;
	text-align: center;
}
.page-schedule-02>tr>td>a{
	margin: 3px;
}
.page-schedule-03{
	white-space: normal !important;
}
.page-schedule-delete-box{
	margin-top: 206px;
}
.modal-edit-head{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	background-color: #337ab7;
}
.modal-detail-head{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	background-color: rgb(135, 216, 135);
}
.modal-create-head{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	background-color: #33b779;
}
.img-event{
	width: 100%;
}
.event-detail{
	text-align: left;
}
.edit-event-form{
	margin-bottom: 15px;
}
.edit-event-1{
	margin-top: 10px;
	text-align: left;
}
.create-event-form{
	margin-bottom: 15px;
}
.create-event-1{
	margin-top: 10px;
	text-align: left;
}
.btn-event-confirm{
	margin-right: 10px;
}
.btn-event-cancel{
	margin-left: 10px;
}
.alert-danger{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
/* end page schedule */

@media screen and (min-width: 360px) {
	/*begin login page*/
    .page-login-03{
		text-align: left;
	}
	.page-login-04{
		text-align: left;
	}
	.page-login-06{
		text-align: left;
	}
	.button__badge {
		display: inherit;
		background-color: #fa3e3e;
		border-radius: 2px;
		color: white;
		
		padding: 1px 3px;
		font-size: 10px;
		
		position: absolute; /* Position the badge within the relatively positioned button */
		top: 7px;
		right: 7px;
	}
	/*end login page*/

	/* begin register page */
	.page-register-03{
		text-align: left;
	}
	.page-register-04{
		text-align: left;
	}
	.page-register-06{
		text-align: left;
	}
	/* end register page */

	/* begin noti page */
	.page-noti-03{
		margin-top: 8px;
	}
	/* end noti page */
}

@media screen and (min-width: 368px){	
	/* begin request&noti */
	.friend-request-buttons{
		display: inline;
	}
	/* end request&noti */
}

@media screen and (min-width: 768px) {
	/* request&noti */
	.friend-request-profile{
		width: 35%;
	}
	.flexible-show{
		display: none;
	}
	/* request&noti end */

	/*begin login page*/
	.page-login-01{
		margin-top:200px;
	}
	/*end login page*/

	/*begin register page*/
	.page-register-01{
		margin-top:200px;
	}
	/*end register page*/

	/* begin noti page */
	.page-noti-03{
		margin-right: 20px;
	}
	/* end noti page */
	
	/* begin page schedule */	
	.btn-event-confirm{
		margin-right: 100px;
	}
	.btn-event-cancel{
		margin-left: 100px;
	}
	/* end page schedule */
}

@media screen and (min-width: 980px){
	.search-box{
		width: 410px;
	}
}
@media screen and (min-width: 1200px){
	
	/*begin login page*/
	.page-login-02{
		text-shadow: 0px 0px 5px #aaa;
	}
	.page-login-05{
		width: 50%;
	}
	/*end login page*/
	
	/*begin register page*/
	.page-register-02{
		text-shadow: 0px 0px 5px #aaa;
	}
	.page-register-05{
		width: 50%;
	}
	/*end register page*/

	/* begin newsfeed page */
	.page-newsfeed-01-b{
		background-color: #e9ebee;
	}
	.well{
		background-color: #FFF;
		border: 1px solid #FFF;
	}
	.well2{
		background-color: #FFF;
		border: 1px solid #FFF;
		padding: 0px;
		border-radius: 4px;
	}
	.page-newsfeed-03>ul>li{
		font-size: 18px;
		margin-top: 3px;
	}
	/* end newsfeed page */

	/* begin page noti */
	.page-noti-01-b{
		background-color: white;
	}
	/* end page noti */
	
	/* begin page friend request */
	.page-friend-request-02{
		width: 70%;
	}
	/* end page friend request */

	/* begin page schedule */
	.page-schedule-03{
		width: 300px;
	}
	/* end page schedule */
} 

footer {
    background-color: #68ca79;
    color: white;
    padding: 15px;
  	margin-top: 50px;
}

footer>p{
	font-size: 17px;
}

/* calendar */
  .icon-chevron {
	display: block;
	width: 15px;
	height: 22px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAWCAMAAAAo0TYrAAAAElBMVEX///8AAAAAAAAAAAAAAAAAAABknMCaAAAABXRSTlMAEHCg0O5XV0MAAAAzSURBVHgBYwACJkYGZMDMysKIwmUFCyC4KAIsrKgCjPQQQPCpzUX4B9O/mOGBGV7o4QkA5zcCv3HiEZgAAAAASUVORK5CYII=);
  }
  
  .icon-chevron-rotate {
	-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
  }
  
  .page {
	width: 100%;
	text-align: center;
	padding: 0.5em;
	padding-top: 2em;
  }
  
  .responsive-calendar-modal {
	background-color: #1d86c8;
	color: white;
	padding: 1em;
  }
  
  .responsive-calendar .controls {
	text-align: center;
  }
  
  .responsive-calendar .controls a {
	cursor: pointer;
	color: red;
  }
  
  .responsive-calendar .controls h4 {
	display: inline;
  }
  
  .responsive-calendar .day-headers,
  .responsive-calendar .days {
	font-size: 0;
  }
  
  .responsive-calendar .day {
	display: inline-block;
	position: relative;
	font-size: 14px;
	width: 14.285714285714286%;
	text-align: center;
  }
  
  .responsive-calendar .day a {
	color: #000000;
	display: block;
	cursor: pointer;
	padding: 20% 0 20% 0;
  }
  
  .responsive-calendar .day a:hover {
	background-color: #eee;
	text-decoration: none;
  }
  
  .responsive-calendar .day.header {
	border-bottom: 1px gray solid;
  }
  
  .responsive-calendar .day.active a {
	background-color: #1d86c8;
	color: #ffffff;
  }
  
  .responsive-calendar .day.active a:hover {
	background-color: #36a0e2;
  }
  
  .responsive-calendar .day.active .not-current {
	background-color: #8fcaef;
	color: #ffffff;
  }
  
  .responsive-calendar .day.active .not-current:hover {
	background-color: #bcdff5;
  }
  
  .responsive-calendar .day.not-current a {
	color: #ddd;
  }
  
  .responsive-calendar .day .badge {
	position: absolute;
	top: 2px;
	right: 2px;
	z-index: 1;
}