html,body{
    height: 100%;
}
nav {
	background-color: #c7d2c7;
}
.navbar-inverse{
	background-color: #c7d2c7 !important;
	border-color: #c7d2c7 !important;
}
.navbar-form, .navbar-collapse{
	border-color: white !important;
}
.navbar-toggle{
	border-color: #3cb481 !important;	
}
.navbar-header>button{
	background-color: #c7d2c7;
}
.navbar-toggle:hover{
	background-color: #4bb9c2 !important;	
}
.navbar-toggle:focus{
	background-color: #4bb9c2 !important;	
}
.navbar-nav>li>a{
	color: rgb(16, 165, 128) !important;
}
.navbar-component{
	color: rgb(16, 165, 128) !important;
	padding: 15px;
}
.dropdown-menu>li>a{
	color: #262626 !important;
	padding: 9px 10px 10px !important;
}
.dropdown-menu>li>a>span{
	margin-right: 10px;
}

/* request&noti */
.friend-request{
	color: #262626;
	padding: 3px 10px;
}
.friend-request>a{
	margin-right: 10px;
}
.dropdown-menu>.view-more>a{
	color: #23527c !important;
	font-weight: bold !important;
	padding: 3px 20px !important;
}
.noti-table{
	width: 300px;
}
.noti-comp>a{
	height: 80px;
}
.dropdown-menu>.noti-comp>a>span{    
	display: inline-block !important;
    white-space: normal !important;
    padding: 2px 0px 10px !important;
    width: 75%;
}
.noti-pic{
	height: 55px !important;
	width: 55px !important;
	float: left;
	margin: 5px;
}
.add-friend-pic{
	display: inline-block;
	height: 55px !important;
	width: 55px !important;
	margin: 5px;
	margin-right: 10px; 
}
.friend-request-profile{
	display: inline-block;
	white-space: nowrap;
	width: 26%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.friend-request-buttons{
	display: block;
}
/* request&noti end */

/*begin login page*/
.page-login-01{
	min-height: 100%;
}
.page-login-01-b{
	padding: 20px;
  	padding-bottom: 50px;
}
.page-login-02{
	text-align: center;
	font-family: Lobster;
	margin-bottom: 15px;
	color: #3cb481;
}
.page-login-03{
	color: red;
	margin: -10px 0px 2px 0px;
	text-align: center;
}
.page-login-04{
	text-align: center;
}
.page-login-05{
	width: 100%;
	margin-bottom: 5px;
}
.page-login-06{
	text-align: center;
}
.page-login-07{ 
	width: 100%;
	color: white;
	border: none;
}
.page-login-07:hover{
	color: white;
}
.page-login-fb{
	background-color: #3c5a99;
}
.page-login-fb:hover{
	background-color: #304d86;
}
.page-login-gg{
	background-color: #d14836;
}
.page-login-gg:hover{
	background-color: #b63d2f;
}
/*end login page*/

/* begin register page */
.page-register-01{
	min-height: 100%;
}
.page-register-01-b{
	padding: 20px;
  	padding-bottom: 50px;
}
.page-register-02{
	text-align: center;
	font-family: Lobster;
	margin-bottom: 15px;
	color: #3cb481;
}
.page-register-03{
	color: red;
	margin: -10px 0px 2px 0px;
	text-align: center;
}
.page-register-04{
	text-align: center;
}
.page-register-05{
	width: 100%;
	margin-bottom: 5px;
}
.page-register-06{
	text-align: center;
}
/* end register page */

/* begin newsfeed page */
.page-newsfeed-01{
	min-height: 100%;
}
.page-newsfeed-01-b{
	padding: 20px;
  	padding-bottom: 50px;
}
/* end newsfeed page */

/* begin page noti  */
.page-noti-01{
	min-height: 100%;
}
.page-noti-01-b{
	padding: 20px;
  	padding-bottom: 50px;
}
.page-noti-01-b>ul{
	padding-left: 0px;
}
.page-noti-02{
	display: block;
	margin-bottom: 1px;
}
.page-noti-02>a{
	display: block;
	white-space: normal;
	color: rgb(70, 65, 65);
}
.page-noti-02>a:hover{
	display: block;
	color: rgb(51, 47, 47);
	background-color: #a5a4a433;
}
.page-noti-02>a>span{
	display: inline-block;
    white-space: normal;
	width: 75%;
	padding-top: 7px;
}
.page-noti-03{
	display: inline-block;
	padding-top: -5px;
	height: 55px;margin-right: 5px;
	margin-left: 6px;
	margin-bottom: 7px;
}
.page-noti-read{
	background-color: #7777771a;
}
/* end page noti */

@media screen and (min-width: 360px) {
	/*begin login page*/
    .page-login-03{
		text-align: left;
	}
	.page-login-04{
		text-align: left;
	}
	.page-login-06{
		text-align: left;
	}
	/*end login page*/

	/* begin register page */
	.page-register-03{
		text-align: left;
	}
	.page-register-04{
		text-align: left;
	}
	.page-register-06{
		text-align: left;
	}
	/* end register page */

	/* begin noti page */
	.page-noti-03{
		margin-top: 8px;
	}
	/* end noti page */
}

@media screen and (min-width: 368px){	
	/* begin request&noti */
	.friend-request-buttons{
		display: inline;
	}
	/* end request&noti */
}

@media screen and (min-width: 768px) {
	/* request&noti */
	.friend-request{
		width: 352px;
	}
	/* request&noti end */

	/*begin login page*/
	.page-login-01{
		margin-top:200px;
	}
	/*end login page*/

	/*begin register page*/
	.page-register-01{
		margin-top:200px;
	}
	/*end register page*/

	/* begin noti page */
	.page-noti-03{
		margin-right: 20px;
	}
	/* end noti page */
}

@media screen and (min-width: 980px){
	.search-box{
		width: 410px;
	}
}
@media screen and (min-width: 1200px){
	body{
		background: url("../img/dairy-diary-background-scenery-birds-bird.jpg");
	}
	/*begin login page*/
	.page-login-02{
		text-shadow: 0px 0px 5px #aaa;
	}
	.page-login-05{
		width: 50%;
	}
	/*end login page*/
	
	/*begin register page*/
	.page-register-02{
		text-shadow: 0px 0px 5px #aaa;
	}
	.page-register-05{
		width: 50%;
	}
	/*end register page*/

	/* begin newsfeed page */
	.page-newsfeed-01-b{
		background-color: white;
	}
	/* end newsfeed page */

	/* begin page noti */
	.page-noti-01-b{
		background-color: white;
	}
	/* end page noti */
} 

footer {
    background-color: #68ca79;
    color: white;
    padding: 15px;
  	margin-top: 50px;
}

footer>p{
	font-size: 17px;
}
